In [4]:
from __future__ import print_function
print(33+5)

38

In [6]:
print(5.5//3.3)
# Discard the fractional part and do integer division.

1.0

In [7]:
print(2^5) 
# XOR (exclusive OR).
# 0010  # 2 (binary)
# 0101  # 5 (binary)
# ----  # APPLY XOR ('vertically')
# 0111  # result = 7 (binary)

7

In [8]:
print(3%2) # Modulo
print(0xAD) # Hexadecimal
print(0o111) # Octal
print(0b0111) # Binary

1
173
73
7

In [ ]:
Data Types

In [13]:
months = [
1.0,    
'January',
'February',
'March',
'April',
'May',
'June',
'July',
'August',
'September',
'October',
'November',
'December'
]
print(type(months))
print(type(months[0]))
print(type(months[1]))
print(len(months))
print(months[-1])
print(months[len(months)-2])

<class 'list'>
<class 'float'>
<class 'str'>
13
December
November

In [21]:
print(months)
del months[0]
print(months)
print(months[10:11])
print(months[9:])
print(months[:]) # everything
print(months[::2]) #skip by 2
print(months[-3]) 
print(months[-3:-1]) # second to last to third to last

['May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
['June', 'July', 'August', 'September', 'October', 'November', 'December']
[]
[]
['June', 'July', 'August', 'September', 'October', 'November', 'December']
['June', 'August', 'October', 'December']
October
['October', 'November']

In [22]:
print(months[10:1:-3]) # Print 10 to 1 - i.e. skip by 3
print(months[10:1:-1])  # Print 10 to 1 - i.e. no skip but descending

['December', 'September']
['December', 'November', 'October', 'September', 'August']

In [23]:
print([1, 2, 3] + [4, 5, 6]) # join two lists
print('Hello, ' + 'world!')  # concatenate two strings
name='Bear' # Create string 'Bear'
print(name*5) # concatenate 5 times
print('B' in name) # Test if B in Bear
print('b' in name)  # Test if b in Bear
s=range(1,6) # Range doesn't create lists in python 3
print(s)
s=list(range(1,9)) # Using range to create lists in python 3
print(s)
s[2]=5
print(s)
del s[2] # Delete an item
print(s)
del s[2:4] # Delete more than one item
print(s)

[1, 2, 3, 4, 5, 6]
Hello, world!
BearBearBearBearBear
True
False
range(1, 6)
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 5, 4, 5, 6, 7, 8]
[1, 2, 4, 5, 6, 7, 8]
[1, 2, 6, 7, 8]

In [27]:
t=[1, 2, 3, 4, 5] #  Create a list
print(t)
del t[2]
print(t)
t=(1, 2, 3, 4, 5) #  Create a tuple, doesn't support item deletion
print(t)

print(2 ** 5) # Power
print(pow(2, 5)) # Power using function

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
(1, 2, 3, 4, 5)
32
32

In [29]:
import math
print(math.ceil(33.3))
print(math.sqrt(9))

from math import sqrt
print(sqrt(9))

34
3.0
3.0

In [ ]:
List Methods

In [30]:
l = ['Rick Sanchez',1.0, 'Morty Smith', 'Mr. Meeseeks']
print (l)    
l.append('Doofus Rick')         ## append item at end
print (l)
l.insert(0, 'Scary Terry')        ## insert item at index 0
print (l)
l.extend(['Squanchy', 'Mr. Poopybutthole'])  ## add list of items at end
print (l)
print (l.index('Morty Smith'))   
print (l)
l.remove('Morty Smith') ## search and remove an item
print (l)
print(l.pop(1)) ## removes and returns 'Rick Sanchez' second item
print (l)

['Rick Sanchez', 1.0, 'Morty Smith', 'Mr. Meeseeks']
['Rick Sanchez', 1.0, 'Morty Smith', 'Mr. Meeseeks', 'Doofus Rick']
['Scary Terry', 'Rick Sanchez', 1.0, 'Morty Smith', 'Mr. Meeseeks', 'Doofus Rick']
['Scary Terry', 'Rick Sanchez', 1.0, 'Morty Smith', 'Mr. Meeseeks', 'Doofus Rick', 'Squanchy', 'Mr. Poopybutthole']
3
['Scary Terry', 'Rick Sanchez', 1.0, 'Morty Smith', 'Mr. Meeseeks', 'Doofus Rick', 'Squanchy', 'Mr. Poopybutthole']
['Scary Terry', 'Rick Sanchez', 1.0, 'Mr. Meeseeks', 'Doofus Rick', 'Squanchy', 'Mr. Poopybutthole']
Rick Sanchez
['Scary Terry', 1.0, 'Mr. Meeseeks', 'Doofus Rick', 'Squanchy', 'Mr. Poopybutthole']

In [ ]:
Dictionaries

In [31]:
d={"python": 333, "R": 222, 33: 111, "C++": 111} # Create a dictionary
print(d.keys())
print(d["python"]) # List value with key "python"
print("python" in d) # Check if "python" in dictionary
print("java" in d) # Check if "java" in dictionary

d2={"java": 33, "C#": 22, "Scala": 11} # Create a dictionary
print(d2)
d.update(d2) # add dictionary to another dictionary
print(d)

dict_keys(['python', 'R', 33, 'C++'])
333
True
False
{'java': 33, 'C#': 22, 'Scala': 11}
{'python': 333, 'R': 222, 33: 111, 'C++': 111, 'java': 33, 'C#': 22, 'Scala': 11}

In [32]:
for key in d: # List keys in dictionary
  print(key)
print(d.keys())
for key in d: # List values in dictionary
  print(d[key])
print(d.values())

python
R
33
C++
java
C#
Scala
dict_keys(['python', 'R', 33, 'C++', 'java', 'C#', 'Scala'])
333
222
111
111
33
22
11
dict_values([333, 222, 111, 111, 33, 22, 11])

In [33]:
d_backup = d.copy() # Create  dictionary copy
print(d_backup)
d['C++']=55
print(d)
print(d_backup)

{'python': 333, 'R': 222, 33: 111, 'C++': 111, 'java': 33, 'C#': 22, 'Scala': 11}
{'python': 333, 'R': 222, 33: 111, 'C++': 55, 'java': 33, 'C#': 22, 'Scala': 11}
{'python': 333, 'R': 222, 33: 111, 'C++': 111, 'java': 33, 'C#': 22, 'Scala': 11}

In [34]:
print(len(d)-len(d_backup))
del d_backup["java"]
print(d_backup)
print(len(d)-len(d_backup))  # Note original isn't changed

0
{'python': 333, 'R': 222, 33: 111, 'C++': 111, 'C#': 22, 'Scala': 11}
1

In [ ]:
Conditionals

In [35]:
l=['Scary Terry', 'Rick Sanchez', 'Morty Smith', 'Mr. Meeseeks', 'Doofus Rick', 'Squanchy', 'Mr. Poopybutthole']
if 'Scary Terry' in l:
    print ("Oh no!!!")
    
if 'Scary Tarry' in l:
    print ("Oh no!!!") 
else:
    print ("Whew!!!")
    
if 'Scary Tarry' in l:
    print ("Oh no!!!") 
elif 'Mr. Meeseeks' in l:
    print ("Oooo yeah, caaan doo!!!!")     
else:
    print ("Whew!!!")

Oh no!!!
Whew!!!
Oooo yeah, caaan doo!!!!

In [ ]:
For Loops

In [36]:
for name in l:
    print(name)

Scary Terry
Rick Sanchez
Morty Smith
Mr. Meeseeks
Doofus Rick
Squanchy
Mr. Poopybutthole

In [ ]:
While Loops

In [37]:
x = 1
while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

In [38]:
x = 1
while x <= 5:
    x += 1 
    if (x%2==0):
      print(x)

2
4
6

In [ ]:
Functions

In [39]:
def fibonacci_seq(n):  # Function syntax
  result = [0, 1]
  for i in range(n-2):
    result.append(result[-2] + result[-1])
  return result
print(fibonacci_seq(9))

[0, 1, 1, 2, 3, 5, 8, 13, 21]